#user-panel {
	/*margin-left: 20px;*/
	/*margin-right: 20px;*/
	
}
.panel-heading
{
    margin: 0 atuo;
    height: 100px;
    text-align:center;
}
.panel-title
{
    margin: 10px 0;
    height :100%;
    width:45%;
    float:left;
}
.phantomjs-ports
{
    margin: 10px 0;
    height :100%;
    width:45%;
    float:right;
}

.loading{
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    background-image: url("../img/loading.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 50;
}